# keystore.properties
MYAPP_UPLOAD_STORE_FILE=../../config/android/controle-online.keystore
MYAPP_UPLOAD_KEY_ALIAS=controle-online
MYAPP_UPLOAD_STORE_PASSWORD=sua_senha_aqui
MYAPP_UPLOAD_KEY_PASSWORD=sua_senha_aqui
VERSION_CODE=19
VERSION_NAME=1.0.19