<configuration>
    <system.webServer>
		<rewrite>
			<outboundRules>
				<rule name="Remove injected 201 content" preCondition="Status 201">
					<match filterByTags="None" pattern="^(?:.*[\r\n]*)*.*&lt;/body>" />
					<action type="Rewrite" value="" />
				</rule>
				<preConditions>
					<preCondition name="Status 201" patternSyntax="Wildcard">
						<add input="{RESPONSE_STATUS}" pattern="201" ignoreCase="false" />
					</preCondition>
				</preConditions>
			</outboundRules>
			<rules>
				<rule name="Imported Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>