const env = {
    API_ENTRYPOINT: "https://api.controleonline.com",
    DOMAIN: "https://pos.controleonline.com",
    APP_TYPE:"POS",
    OAUTH_GOOGLE_CLIENT_ID:"",
    GMAPS_GOOGLE_CLIENT_ID:"",
    OAUTH_INSTAGRAM_CLIENT_ID:"",
    NEW_RELIC:{
            LICENSE_KEY:"",
            APPLICATION_ID:"",
            ACCOUNT_ID: "",
            TRUST_KEY: "",
            BEACON: "bam.nr-data.net",
            ERROR_BEACON: "bam.nr-data.net"
    },
    CIELO:{
        ACCESS_TOKEN:'',
        CLIENT_ID:'',
        EMAIL:  '',
    }    
}
module.exports = { env };

