<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>
  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <!--<link rel="icon" type="image/png" href="/images/icon.png">-->
  <!--<link rel="icon" type="image/png" sizes="16x16" href="/images/icon.png">-->
  <!--<link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png">-->
  <!--<link rel="icon" type="image/png" sizes="96x96" href="/images/icon.png">-->
  <!--<link rel="icon" type="image/ico" href="/images/favicon.ico">-->
  <!--<link rel="stylesheet" href="https://app.controleonline.com/modules/chat/css/chat.css">-->
  <!--<script type="text/javascript" src="https://app.controleonline.com/modules/chat/js/chat.js"></script>-->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js').then(registration => {
          console.log('Service Worker registrado com sucesso:', registration);

          // Verifique se há uma atualização pendente do Service Worker
          if (registration.waiting) {
            // Há uma nova versão disponível, você pode mostrar uma mensagem ao usuário e perguntar se eles desejam atualizar
            console.log('Há uma nova versão disponível, por favor atualize a página.');
          }
        }).catch(error => {
          console.log('Falha ao registrar o Service Worker:', error);
        });
      });
    }
  </script>
  <script src="https://platform.instagram.com/en_US/embeds.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GMAPS_GOOGLE_CLIENT_ID %>&libraries=&v=weekly"
    async defer></script>
</head>

<body>
  <div id="q-app"></div>
</body>
</html>